<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gitalyze</title>
    <link rel="stylesheet" type="text/css" href="/css/loader.css">
</head>

<body>
    <div class="spinner">
        <div class="spinner-item"></div>
        <div class="spinner-item"></div>
        <div class="spinner-item"></div>
    </div>

</body>

</html>